/* app css stylesheet */

.footer {
    text-align: center;
    font-size: small;
}

.hint {
    font-size: small;

}

.firstPlateRowColHdr {
    margin-top: 45px !important;
}
.plateRowHdr {
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 5px;
    margin-top: 15px;
}
.plateColHdr {
    margin: 5px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.wellContent {
    text-align: center;
    padding-top: 20px
}
.wellReactionTime {
    position: relative;
    bottom: 0.5em;
    color: #000000;
    font-size: 0.9em;
    padding-left: 3px;
}